---
import Layout from '@layouts/Neovim.astro';
import { basics } from "@cv";

const { name } = basics;
---

<Layout title={`${name} - NEOVIM`}>
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold mb-8 text-blue nvim-line">Welcome to my portfolio</h1>
    <div class="text-center w-1/3">
      <div class="mb-4 flex place-content-center">
        <p class="nvim-line max-w-max">Keyboard friendly</p>
      </div>
      <div class="mb-2 flex place-content-center">
        <p class="nvim-line max-w-max">Neovim mode</p>
      </div>
      <a href="https://github.com/ArielFalcon" class="hover:underline text-blue hover:text-blue-800 nvim-line">Ariel G Falcón</a>
      <div class="py-8 text-green text-left hero-content flex flex-col">
        <p class = 'nvim-line'>
          <span>type  :about<span class="text-blue">&lt;Enter&gt;</span></span>
          <span><span>to view about information</span></span>
        </p>
        <p class = 'nvim-line'>
          <span>type  :proj<span class="text-blue">&lt;Enter&gt;</span></span>
          <span>to view personal projects</span>
        </p>
        <p class = 'nvim-line'><span>type  :hi<span class="text-blue">&lt;Enter&gt;</span></span>
          <span>to view contact details</span>
        </p>
        <p class = 'nvim-line'>
          <span>type  /<span class="text-blue">&lt;Search term&gt;</span></span>
          <span>to search posts</span>
        </p>
        <p class = 'nvim-line'>
          <span>type  :h<span class="text-blue">&lt;Enter&gt;</span></span>
          <span>to view the <a href="neovim/help" class="underline text-blue hover:text-blue-800">help</a> page</span>
        </p>
        <p class = 'nvim-line'>
          <span>type  :b<span class="text-blue">&lt;Enter&gt;</span></span>
          <span>to toggle the <span class="text-blue">key-bindings</span> pop-up</span>
        </p>
        <p class = 'nvim-line'>
          <span>type  :q<span class="text-blue">&lt;Enter&gt;</span></span>
          <span>to exit</span>
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  * {
    cursor: default !important;
  }
  .hero-content p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
  }
</style>
