# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
/dist
/tsconfig.tsbuildinfo

# Astro
.astro/

# JetBrains
.idea/

# Archivos y configuraciones locales
.vscode/
*.sublime-workspace
*.sublime-project

# Otros archivos generales
*.log
*.env
*.env.local
*.env.*.local
*.DS_Store
*.swp

# Vercel
.vercel