---
import { Icon } from 'astro-icon/components';
---

<div data-ccursor="lift" class="print:hidden hidden md:block w-max">
	<a href="/neovim" class="group transition-all duration-300 delay-75 hover:bg-nvim-green/50 cursor-default border-nvim-green/60 flex place-content-center items-center gap-4 border-solid border px-3 py-2 backdrop-blur-sm/60 md:max-w-max hover:cursor-none">
		<Icon name="simple-icons:neovim" width={28} height={28} class='transition-all duration-300 group-hover:scale-75 text-nvim-green'></Icon>
		<span class="font-bold text-lg text-skin-nvim font-mono group-hover:brightness-150 group-hover:text-xl transition-all duration-300 text-nvim-blue">Neovim Mode</span>
	</a>
</div>
