---
import Section from "../Section.astro";
import CV from "@cv";
const { summary } = CV.basics;

const words = summary.split(' ');
---

<Section title="About">
  <p class="font-mono opacity-75 print:font-sans text-skin-hue font-semibold print:text-skin-base print:font-normal w-full select-none">
    {words.map((word) => (
      <span class="w-min sm:hover:bg-skin-button-muted transition-all duration-200 sm:hover:cursor-none">{word}</span> <span> </span>
    ))}
  </p>
</Section>